@page
@model BankStartWeb.Pages.Account.CustomerTransactionDetailsModel
@{
}

<div class="card">
    <div class="card-header">
        <h1>Alla konton</h1>
    </div>
    <div class="card-body">
        <h2>Transaction History</h2>
    <table id="post-table" class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                    
           
                <th>Transaction Type</th>
                
            
          
                <th>Transaction Operation</th>
             
           
            
                <th>Transaction Date</th>
             
          
         
                <th>Transaction Amount</th>
               
         
         
                <th>New Balance</th>
          
            </tr>
        </thead>
     
        <tbody id="TransactionList">

        

            @foreach (var transactions in Model.Accounts.Transactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.Operation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactions.NewBalance)
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
    <hr/>
    <a class="btn btn-dark" href="javascript:fetchMore();">Load more Transactions</a>
    <a class="btn btn-primary" asp-route-accountId="@Model.AccountId" asp-page="/Account/Deposit">Deposit</a>
    <a class="btn btn-primary" asp-route-accountId="@Model.AccountId" asp-page="/Account/Withdraw">Withdraw</a>
    <a class="btn btn-primary" asp-route-accountId="@Model.AccountId" asp-page="/Account/Transfer">Transfer</a>

    </div>
</div>


@section Scripts
{
    <script>
        pageNum = 2;

        function fetchMore() {
            fetch("/Account/CustomerTransactionDetails?handler=fetchMoreTransactions&pagenum=" + pageNum + "&customerId="+@Model.Accounts.Id)
                .then((response) => response.json())
                .then((json) => {
                        pageNum = pageNum + 1;
                        json.items.forEach(tableElements);

                        console.log(json);
                    }
                );
        }

        function tableElements(element) {
            document.querySelector('#TransactionList').innerHTML +=
            `<tr>
                <td>${element.id}</td>
                <td>${element.type}</td>
                <td>${element.operation}</td>
                <td>${element.date}</td>
                <td>${element.amount}</td>
                <td>${element.newBalance}</td>
        
                </tr>`;
        }


    </script>
}

