@page "{Id}"
@model BankStartWeb.Pages.CustomerInfo.CustomerDetailsModel
@{
    ViewData["Title"] = "Customer Details";
}
  

<div class="card">
    <div class="card-header">
        <h1>Kundinformation</h1>
    </div>
    <div class="card-body">  
    <table class="customer-table">
          
                <tr>
                    <th>ID</th>
                    <td>@Model.CustomerDetails.Id</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td>@Model.CustomerDetails.Name</td>
                </tr>
                <tr>
                    <th>Street Address</th>
                    <td>@Model.CustomerDetails.Streetaddress</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Model.CustomerDetails.City</td>
                </tr>
                <tr>
                    <th>Zipcode</th>
                    <td>@Model.CustomerDetails.Zipcode</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Model.CustomerDetails.Country</td>
                </tr>
                <tr>
                    <th>Country Code</th>
                    <td>@Model.CustomerDetails.CountryCode</td>
                </tr>
                <tr>
                    <th>National Id</th>
                    <td>@Model.CustomerDetails.NationalId</td>
                </tr>
                <tr>
                    <th>Telephone Country Code</th>
                    <td>@Model.CustomerDetails.TelephoneCountryCode</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>@Model.CustomerDetails.Telephone</td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>@Model.CustomerDetails.EmailAddress</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>@Model.CustomerDetails.Birthday</td>
                </tr>
    </table>

    <hr />

    <table class="account-table">
            <thead>
                <tr>
                    <th>Account Id</th>
                    <th>Account Type</th>
                    <th>Created</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerDetails.Accounts)
                {
                   <tr>
                        <td><a asp-page="/Account/CustomerTransactionDetails" asp-route-id="@item.Id">@item.Id</a></td>
                        <td>@item.AccountType</td>
                        <td>@item.Created</td>
                        <td>@item.Balance</td>
                    </tr>      
                }
            </tbody>
     </table>
    </div>
</div>




<div>
    <a asp-page="/CustomerInfo/Customer">Back to List</a>
</div>

