@page
@model BankStartWeb.Pages.CustomerInfo.CustomerModel
@{
    ViewData["Title"] = "Customer";
}

<!-- Topbar Search -->
     <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET">
               <div class="input-group">
                   <input asp-for="@Model.SearchWord" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>


    <table class="table">
    
        <tr>
            <td>Id 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord"  asp-route-col="Id" asp-route-order="asc"  >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Id" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
                </td>
            <td>National Id
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.NationalId" asp-route-order="asc" >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.NationalId" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
                </td>
            <td>Givenname
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.Givvenname" asp-route-order="asc" >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.Givvenname" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
                </td>
            <td>Surname
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.Surname" asp-route-order="asc" >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.Surname" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
                </td>
            <td>Street Address
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.StreetAddress" asp-route-order="asc" >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.StreetAddress" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
            </td>
            <td>City
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.City" asp-route-order="asc" >
                    <i class='bx bx-sort-a-z'></i>  </a> 
                <a asp-page="/Customer" asp-route-searchWord="@Model.SearchWord" asp-route-col="Customer.City" asp-route-order="desc" >    
                    <i class='bx bx-sort-z-a' ></i> </a>
            </td>
        </tr>


        @foreach (var item in Model.Customers)
        {
            <tr>
                <td><a asp-route-id="@item.Id" asp-page="/CustomerInfo/CustomerDetails">@item.Id</a></td>
                <td>@item.NationalId</td>
                <td>@item.Givenname</td>
                <td>@item.Surname</td>
                <td>@item.Streetaddress</td>
                <td>@item.City</td>
           
            </tr>
        }

        <tr>
            <td>
                @if (Model.PageNo > 1)
                {
                    <a asp-page="/Customer" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder"  asp-route-searchWord="@Model.SearchWord"   asp-route-pageno="@(Model.PageNo - 1)">Prev</a>
                }
            </td>
            <td> Visar sidan @Model.PageNo av totalt @Model.TotalPageCount  </td>
            <td>
                @if (Model.PageNo < Model.TotalPageCount)
                {
                    <a asp-page="/Customer" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pageno="@(Model.PageNo + 1)">Next</a>
                }
            </td>
        </tr>




    </table>








